In [1]:
import pandas as pd 
import matplotlib.pyplot as plt

# Introduction to Joining data with pandas

# inner join by using (.merge()) function

In [23]:
taxi_owners=pd.read_pickle('Datasets/taxi_owners.p')
taxi_veh=pd.read_pickle('Datasets/taxi_vehicles.p')
ward=pd.read_pickle('Datasets/ward.p')
census=pd.read_pickle('Datasets/census.p')
licenses=pd.read_pickle('Datasets/licenses.p')
biz_owners=pd.read_pickle('Datasets/business_owners.p')

In [16]:
# Merge taxi_owners with taxi_veh on the column vid, and save the result to taxi_own_veh.
taxi_own_veh= taxi_owners.merge(taxi_veh,on='vid')
taxi_own_veh.head()
# Set the left and right table suffixes for overlapping columns of the merge to _own and _veh, respectively.
taxi_own_veh=taxi_owners.merge(taxi_veh,on='vid',suffixes=('_own','_veh'))
taxi_own_veh.head()
# Select the fuel_type column from taxi_own_veh and print the value_counts() to find the most popular fuel_types used.
taxi_own_veh['fuel_type'].value_counts()

HYBRID                    2792
GASOLINE                   611
FLEX FUEL                   89
COMPRESSED NATURAL GAS      27
Name: fuel_type, dtype: int64

In [19]:

#Merge wards and census on the ward column and save the result to wards_census.
wards_census=ward.merge(census,on='ward')

,ward,alderman,address_x,zip_x,pop_2000,pop_2010,change,address_y,zip_y
0,1,"Proco ""Joe"" Moreno",2058 NORTH WESTERN AVENUE,60647,52951,56149,6%,2765 WEST SAINT MARY STREET,60647
1,2,Brian Hopkins,1400 NORTH ASHLAND AVENUE,60622,54361,55805,3%,WM WASTE MANAGEMENT 1500,60622
2,3,Pat Dowell,5046 SOUTH STATE STREET,60609,40385,53039,31%,17 EAST 38TH STREET,60653
3,4,William D. Burns,"435 EAST 35TH STREET, 1ST FLOOR",60616,51953,54589,5%,31ST ST HARBOR BUILDING LAKEFRONT TRAIL,60653
4,5,Leslie A. Hairston,2325 EAST 71ST STREET,60649,55302,51455,-7%,JACKSON PARK LAGOON SOUTH CORNELL DRIVE,60637

# One to many relationship

In [26]:
# Starting with the licenses table on the left, 
# merge it to the biz_owners table on the column account, and save the results to a variable named licenses_owners.

licenses.head()
biz_owners.head()

  account first_name  last_name      title
0      10      PEARL    SHERMAN  PRESIDENT
1      10      PEARL    SHERMAN  SECRETARY
2   10002     WALTER     MROZEK    PARTNER
3   10002     CELINA     BYRDAK    PARTNER
4   10005      IRENE  ROSENFELD  PRESIDENT

In [ ]:
# Starting with the licenses table on the left, merge it to the biz_owners table on the column account, and save the results to a variable named licenses_owners.
# Group licenses_owners by title and count the number of accounts for each title. Save the result as counted_df
# Sort counted_df by the number of accounts in descending order, and save this as a variable named sorted_df.
# Use the .head() method to print the first few rows of the sorted_df.

In [32]:
# Starting with the licenses table on the left, merge it to the biz_owners table on the column account, 
# and save the results to a variable named licenses_owners. 
licenses_owners=licenses.merge(biz_owners,on='account')
# Group licenses_owners by title and count the number of accounts for each title. Save the result as counted_df
counted_df=licenses_owners.groupby('title').agg({'account':'count'})
# Sort counted_df by the number of accounts in descending order, and save this as a variable named sorted_df.
sorted_df=counted_df.sort_values('account',ascending=False)
# Use the .head() method to print the first few rows of the sorted_df.
sorted_df.head()

                 account
title
PRESIDENT           6259
SECRETARY           5205
SOLE PROPRIETOR     1658
OTHER               1200
VICE PRESIDENT       970

# Merging Multiple dataframe