In [1]:
import pandas as pd 
import matplotlib.pyplot as plt

# Introduction to Joining data with pandas

# inner join by using (.merge()) function

In [3]:
taxi_owners=pd.read_pickle('Datasets/taxi_owners.p')
taxi_veh=pd.read_pickle('Datasets/taxi_vehicles.p')
ward=pd.read_pickle('Datasets/ward.p')
census=pd.read_pickle('Datasets/census.p')
licenses=pd.read_pickle('Datasets/licenses.p')
biz_owners=pd.read_pickle('Datasets/business_owners.p')
cal=pd.read_pickle('Datasets/cta_calendar.p')
ridership=pd.read_pickle('Datasets/cta_ridership.p')
stations=pd.read_pickle('Datasets/stations.p')

In [16]:
# Merge taxi_owners with taxi_veh on the column vid, and save the result to taxi_own_veh.
taxi_own_veh= taxi_owners.merge(taxi_veh,on='vid')
taxi_own_veh.head()
# Set the left and right table suffixes for overlapping columns of the merge to _own and _veh, respectively.
taxi_own_veh=taxi_owners.merge(taxi_veh,on='vid',suffixes=('_own','_veh'))
taxi_own_veh.head()
# Select the fuel_type column from taxi_own_veh and print the value_counts() to find the most popular fuel_types used.
taxi_own_veh['fuel_type'].value_counts()

HYBRID                    2792
GASOLINE                   611
FLEX FUEL                   89
COMPRESSED NATURAL GAS      27
Name: fuel_type, dtype: int64

In [19]:

#Merge wards and census on the ward column and save the result to wards_census.
wards_census=ward.merge(census,on='ward')

,ward,alderman,address_x,zip_x,pop_2000,pop_2010,change,address_y,zip_y
0,1,"Proco ""Joe"" Moreno",2058 NORTH WESTERN AVENUE,60647,52951,56149,6%,2765 WEST SAINT MARY STREET,60647
1,2,Brian Hopkins,1400 NORTH ASHLAND AVENUE,60622,54361,55805,3%,WM WASTE MANAGEMENT 1500,60622
2,3,Pat Dowell,5046 SOUTH STATE STREET,60609,40385,53039,31%,17 EAST 38TH STREET,60653
3,4,William D. Burns,"435 EAST 35TH STREET, 1ST FLOOR",60616,51953,54589,5%,31ST ST HARBOR BUILDING LAKEFRONT TRAIL,60653
4,5,Leslie A. Hairston,2325 EAST 71ST STREET,60649,55302,51455,-7%,JACKSON PARK LAGOON SOUTH CORNELL DRIVE,60637

# One to many relationship

In [26]:
# Starting with the licenses table on the left, 
# merge it to the biz_owners table on the column account, and save the results to a variable named licenses_owners.

licenses.head()
biz_owners.head()

  account first_name  last_name      title
0      10      PEARL    SHERMAN  PRESIDENT
1      10      PEARL    SHERMAN  SECRETARY
2   10002     WALTER     MROZEK    PARTNER
3   10002     CELINA     BYRDAK    PARTNER
4   10005      IRENE  ROSENFELD  PRESIDENT

In [ ]:
# Starting with the licenses table on the left, merge it to the biz_owners table on the column account, and save the results to a variable named licenses_owners.
# Group licenses_owners by title and count the number of accounts for each title. Save the result as counted_df
# Sort counted_df by the number of accounts in descending order, and save this as a variable named sorted_df.
# Use the .head() method to print the first few rows of the sorted_df.

In [32]:
# Starting with the licenses table on the left, merge it to the biz_owners table on the column account, 
# and save the results to a variable named licenses_owners. 
licenses_owners=licenses.merge(biz_owners,on='account')
# Group licenses_owners by title and count the number of accounts for each title. Save the result as counted_df
counted_df=licenses_owners.groupby('title').agg({'account':'count'})
# Sort counted_df by the number of accounts in descending order, and save this as a variable named sorted_df.
sorted_df=counted_df.sort_values('account',ascending=False)
# Use the .head() method to print the first few rows of the sorted_df.
sorted_df.head()

                 account
title
PRESIDENT           6259
SECRETARY           5205
SOLE PROPRIETOR     1658
OTHER               1200
VICE PRESIDENT       970

# Merging Multiple dataframe

In [ ]:
# formula
# df1.merge(df2,on="common column")\ 
      #.merge(df3,on='common column')

Merge the ridership and cal tables together, starting with the ridership table on the left and save the result to the variable ridership_cal. If you code takes too long to run, your merge conditions might be incorrect.

In [5]:
# merging two table using multiple columns
ridership_cal=ridership.merge(cal,on=['year','month','day'])
ridership_cal.head()

  station_id  year  month  day  rides        day_type
0      40010  2019      1    1    576  Sunday/Holiday
1      40080  2019      1    1   1839  Sunday/Holiday
2      40770  2019      1    1   2724  Sunday/Holiday
3      40120  2019      1    1    754  Sunday/Holiday
4      40540  2019      1    1   2175  Sunday/Holiday

In [7]:
# lets add another talbe station 

ridership_cal_station=ridership.merge(cal,on=['year','month','day'])\
                                .merge(stations,on='station_id')

In [22]:
ridership_cal_station[ridership_cal_station['month']==7]

,station_id,year,month,day,rides,day_type,station_name,location
181,40010,2019,7,1,1870,Weekday,Austin-Forest Park,"(41.870851, -87.776812)"
182,40010,2019,7,2,1887,Weekday,Austin-Forest Park,"(41.870851, -87.776812)"
183,40010,2019,7,3,1815,Weekday,Austin-Forest Park,"(41.870851, -87.776812)"
184,40010,2019,7,4,770,Sunday/Holiday,Austin-Forest Park,"(41.870851, -87.776812)"
185,40010,2019,7,5,1244,Weekday,Austin-Forest Park,"(41.870851, -87.776812)"
...,...,...,...,...,...,...,...,...
3127,41660,2019,7,27,11719,Saturday,Lake/State,"(41.884809, -87.627813)"
3128,41660,2019,7,28,8415,Sunday/Holiday,Lake/State,"(41.884809, -87.627813)"
3129,41660,2019,7,29,19540,Weekday,Lake/State,"(41.884809, -87.627813)"
3130,41660,2019,7,30,21453,Weekday,Lake/State,"(41.884809, -87.627813)"
3131,41660,2019,7,31,22374,Weekday,Lake/State,"(41.884809, -87.627813)"

In [20]:
# lest filter in our new talbel where 
#station_name == 'Wilson'
#day_type == 'Weekday'
#month == 7

filter_criteria=ridership_cal_station[((ridership_cal_station['station_name']=='Wilson') &
                (ridership_cal_station['day_type']=='Weekday') &
                (ridership_cal_station['month']==7))]

In [23]:

# # Use .loc and the filter to select for rides
# print(ridership_cal_station.loc[filter_criteria,'rides'].sum())
filter_criteria.head()

,station_id,year,month,day,rides,day_type,station_name,location
1641,40540,2019,7,1,6464,Weekday,Wilson,"(41.964273, -87.657588)"
1642,40540,2019,7,2,6491,Weekday,Wilson,"(41.964273, -87.657588)"
1643,40540,2019,7,3,6639,Weekday,Wilson,"(41.964273, -87.657588)"
1645,40540,2019,7,5,4794,Weekday,Wilson,"(41.964273, -87.657588)"
1648,40540,2019,7,8,6351,Weekday,Wilson,"(41.964273, -87.657588)"

In [26]:
print(ridership_cal_station.loc[filter_criteria, 'rides'].sum())

ValueError: Cannot index with multidimensional key